.recipe-title{
    display: flex;
    align-items: center;
    gap: 200px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkorange;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-button:hover {
    background-color: rgb(120, 100, 230);
}
